.home-page{
    padding: 20px;
    font-family: text-font;
}

.home-page p.welcome{
    text-align: center;
    font-size: 1.4em;
    margin: 15px 0 35px;
}

.home-page h2.header{
    width: 80vw;
    margin: 15px auto;
    font-weight: bold;
}
.home-page p.content{
    width: 80vw;
    margin: auto;
    margin-bottom: 100px;
    font-size: 1.3em;
}
.home-page .image{
    display: flex;
    justify-content: center;
    width: 90vw;
    position: fixed;
    bottom: 20px;
       
}
.home-page .image img{
    width: 100%;
    max-width: 250px;
    transition: 0.2s;
}
.home-page .image.bottom img {
    transition: 0.6s;

    scale: 1.3;
}
