.nav-top, .nav-bottom{
    background-color: var(--main-color);
    margin: 0;
    padding: 0 10px;
}
.nav-top{
    padding: 15px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
.nav-top .name{
    font-size: 1.5em;
    font-family: shirbut;
}
.nav-top .logos{
    display: flex;
    gap: 5px;
}
.nav-top .logos svg{
    font-size: 1.5em;
    color: var(--text-color);
    text-decoration: none;
}
.nav-top .logos .outer{
    position: relative;
    padding:5px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;

}
.nav-top .logos .outer:active{
    background-color: #0000003f;
    transition: 0s;

}

.nav-bottom{
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: matritsa;
    font-weight: 300;
    gap: 15px;
    position: sticky;
    top: 0px;
    padding-top: 10px;
}

.nav-bottom .link{
    color: var(--text-color);
    width: 25%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.nav-bottom .selected {
    color: var(--red-color);
    font-weight: 700;
    border-bottom: 3px solid var(--red-color);
}

.nav-menu {
    position: absolute;
    top: 100%;
    background-color: #bbb;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
